{% extends "login/enseignant_dashboard.html" %}

{% load static %}

{% block content_wrapper %}
 <div class="content-wrapper p-4" style="max-height: calc(100vh - 150px); overflow-y: auto;">
<div class="login-box">
  <div class="login-logo">
    
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Changer votre mot de passe maintenant</p>

                    <!-- Messages flash -->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}


              <!-- Formulaire -->
        <form method="post" id="frm">
          {% csrf_token %}

          <p class="text-danger mb-3" id="msg-error" style="display:none;"></p>

          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Mot de passe" name="password" required id="pwd">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirmer le mot de passe" name="cpwd" required id="cpwd">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="form-check mb-3 text-left">
            <input class="form-check-input" type="checkbox" value="on" name="connect" id="connect">
            <label class="form-check-label" for="connect">Rester connecté après changement</label>
          </div>

          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Changer</button>
            </div>
          </div>
        </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
</div>
{% endblock %}

{% block script_fils %}
<script>
document.getElementById('frm').addEventListener('submit', function(e){
    const pwd = document.getElementById('pwd').value;
    const cpwd = document.getElementById('cpwd').value;
    const msg = document.getElementById('msg-error');

    if(pwd !== cpwd){
        e.preventDefault();
        msg.textContent = "Les mots de passe ne sont pas identiques.";
        msg.style.display = "block";
    } else {
        msg.style.display = "none";
    }
});
</script>
{% endblock %}

